.form {
  .form-input {
    margin-bottom: 40px;
  }
}

.form-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;

  .form-field {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 11px 12px;
  }

  .form-accent:hover,
  .form-accent:focus {
    border-color: #2196f3;
  }
}

.form-input-with-icon {
  position: relative;
  .form-label {
    .icon {
      position: absolute;
      top: 10px;
      left: 40px;
      z-index: 50;
    }
  }

  .form-accent:focus + .icon {
    color: #2196f3;
  }

  .form-field {
    padding-left: 42px;
  }
}

.form-field-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
